/* CSS */
.btn-predict {
    background: #62f05d;
    border-radius: 999px;
    box-shadow: #60f05d 0 10px 20px -10px;
    color: #ffffff;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 5px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    width: 180px;
}

.btn-predict:hover {
    background-color: #268b47;
    border-color: #268b47;
}
