h1 {
    text-align: center;
    margin-bottom: 5px;
}

.btn-mode {
    text-align: center;
}

.btn-mode button {
    padding: 10px;
    margin: 5px 10px;
    background-color: rgb(191, 205, 232);
    border: none;
    border-radius: 10px;
    color: darkblue;
}

.outer-webcam-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.webcam-container {
    position: relative;
    display: flex;
    border: 2px solid #000;
    width: 640px; /* Hoặc bất kỳ kích thước nào bạn mong muốn */
    height: 480px; /* Hoặc bất kỳ kích thước nào bạn mong muốn */
}

.webcam {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-btn-container {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.image-container {
    position: relative;
    margin-top: 20px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.uploaded-image {
    max-width: 100%;
    height: auto;
    display: block;
}

.bounding-box {
    position: absolute;
    border: 2px solid green;
    background-color: transparent;
    color: black;
}

.label-result {
    position: absolute;
    top: -15px;
    margin: 0px;
    font-size: 12px;
    font-weight: bold;
    color: red;
    white-space: nowrap;
}
